<%- include('../../../shared/includes/head', { pageTitle: 'Add Prizes'}) %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/createSchool.css">
<link rel="stylesheet" href="/styles/add-prize.css">
</head>
<body>
    <%- include('../../../shared/includes/header') %>
    <main>
        <h1>Edit Event</h1>
        <% if (inputData.errorMessage) { %>
            <section class="alert">
                <h2>Invalid Input</h2>
                <p><%= inputData.errorMessage %></p>
            </section>
        <% } %>
        <form action="/edit-Event" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
                <label for="name">Event's Name</label>
                <input type="text" id="name" name="name" value="<%= inputData.name %>" required>
            </p>
                <div>
                    <label for="sporting">Sporting Event</label>
                    <% if (inputData.sporting === 1) { %>
                        <input type="checkbox" id="sporting" name="sporting" value="<%= inputData.sporting %>" checked>
                    <% } else { %>
                        <input type="checkbox" id="sporting" name="sporting" value="<%= inputData.sporting %>">
                    <% } %>
                </div>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" value="<%= inputData.date.toISOString() %>" required>
            <p>
                <label for="reward">Points Rewarded</label>
                <input type="text" id="reward" name="reward" value="<%= inputData.reward %>" required>
            </p>
            <button class="btn">Save Changes</button>
            <a href="/editEvents/<%= inputData.id %>" class="btn">Revert</a>
            <a href="/deleteEvent" class="btn">Delete</a>
        </form>
    </main>
<%- include('../../../shared/includes/footer') %>