<%- include('../../../shared/includes/head', { pageTitle: 'Set Attendance'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/add-prize.css">
<link rel="stylesheet" href="/styles/students.css">
<link rel="stylesheet" href="/styles/attendance.css">
</head>
<body>
    <%- include('../../../shared/includes/header') %>
    <main>
        <h1><%= inputData.name %></h1>
        <h1>Set Attendance</h1>
        <% if (inputData.errorMessage) { %>
            <section class="alert">
                <h2>Invalid Input</h2>
                <p><%= inputData.errorMessage %></p>
            </section>
        <% } %>
        <h2>Total Attendance: <%= inputData.totalAttendance %></h2>
        <form action="/searchAttendance" method="POST" id="search">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <label for="id">Search Attendee's Name</label>
            <input type="text" id="id" name="id" value="<%= inputData.id %>" required>
            <button class="btn">Search</button>
        </form>
        <form action="/setAttendance" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <button class="btn">Save Attendance</button>
            <table class="table">
                <tr class="table-header">
                    <th><a href="#" class="btn">Attended</a></th>
                    <th><a href="#" class="btn">Student ID</a></t h>
                    <th><a href="#" class="btn">Name</a></th>
                    <th><a href="#" class="btn">Grade</a></th>
                    <th><a href="#" class="btn">Points</a></th>
                </tr>
                <tbody id="student-table">
                    <% if (inputData.exists) { %>
                        <% for (student of inputData.attended) { %>
                            <tr>
                                <td><input type="checkbox" id="attended" name="attended" value="<%= student.student_id %>" checked></td>
                                <td><%= student.student_id %></td>
                                <td><%= student.name %></td>
                                <td><%= student.grade %></td>
                                <td><%= student.points %></td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% for (student of inputData.students) { %>
                        <tr>
                            <td><input type="checkbox" id="attended" name="attended" value="<%= student.id %>"></td>
                            <td><%= student.id %></td>
                            <td><%= student.name %></td>
                            <td><%= student.grade %></td>
                            <td><%= student.points %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </main>
<%- include('../../../shared/includes/footer') %>