<%- include('../../../shared/includes/head', { pageTitle: 'Main'}) %>
<link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <%- include('../../../shared/includes/header') %>
    <main>
        <h1>Dashboard</h1>
        <div class="dropdown">
            <button class="btn">Schools ▾</button>
            <div class="dropdown-content">
                <% for (const school of inputData.schools) { %>
                    <a href="dashboard/<%= school.schools_id %>"><%= school.name %></a>
                <% } %>
            </div>
        </div>
        <hr>
        <% if (inputData.exists) { %>
        <section>
            <h1>The person with the most points is...</h1>
            <p><%= inputData.student %></p>
            <h1>The event with the highest points is...</h1>
            <p><%= inputData.highEvent %></p>
            <h1>The event with the least points is...</h1>
            <p><%= inputData.lowEvent %></p>
            <h1>The prize that requires the most points is...</h1>
            <p><%= inputData.highPrize %></p>
            <h1>The prize that requires the least points is...</h1>
            <p><%= inputData.lowPrize %></p>
        </section>
        <% } %>
    </main>
<%- include('../../../shared/includes/footer') %>